# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs
*.log
logs/*.log
pids
*.pid
*.seed
*.pid.lock

# Runtime data
lib-cov
coverage/
.nyc_output
.cache/
dist/
build/
tmp/
temp/

# dotenv environment variables
.env
.env.*       # ví dụ: .env.local, .env.development

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.swp
*.swo
